@model List<Test.Controllers.Company>
@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <ol>
                <li>Update Model.IdAsWord so that it returns the word of the id, so if id-1, "one" will be returned.</li>
                <li>Add a textbox that will do a search on the company name and return all results that match, sorted by company name alphabetically.</li>
                <li>Add a link that will return companies with more than 1000 employees, ordered by number of employees from largest to smallest.</li>
            </ol>
        </div>
    </section>
}
<h3>Company List:</h3>

<ol class="round">
    @foreach (var m in Model)
    {
        <li class="@m.IdAsWord">
            <h5>@m.Name</h5>
            Number of employees: <strong>@m.NumberOfEmployees</strong>
        </li>    
    }
</ol>
